body {
  background-color: black;
  font-family: "Montserrat-Bold";
}

h1{
  font-family: "Montserrat-Black";
font-size: 4rem;
line-height: 1.5;
font-weight: bolder;
color: #fff;
text-align: center;
}

h3{
  font-family: "Montserrat-Black";
font-size: 1.5rem;
line-height: 1;
font-weight: bolder;
color: #fff;
text-align: center;
}


.header-text{
  padding-bottom: 3%;
}

.container-fluid {
  padding: 3% 15% 5%;
}

#title{
  margin-top: 6%;
}

/* navigation bar */
.navbar {
  padding: 0 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}
.navbar-brand:hover{
  color: red;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
  color: #fff;
}
.nav-link:hover{
  color: red;
}

/* Title Image */
.title-image {
  margin-top: 45px;
  width: 45%;
  position: absolute;
  right:30%;
}

.input-group{
  padding-bottom: 8%;
}

/* Footer Section */
#footer{
  text-align: center;
  padding: 7% 15%;
  margin-top: 20%
}

.End-logo{
  margin: 20px 10px;
  color: #fff;
}

.End-logo:hover{
  color: Blue;
}

.Cp:hover{
  color: #fff;
}
